

#header{
  width: 100%;
  background-color: #ef069c;
  height: 5vh;
  border: 2px solid blue;
}
.bg-pink{
  background-color: #ef069c;
}

.text-pink{
  color: #ef069c;
}
ul li{
  font-size: 1.01rem;
  font-weight: 700;
}

button{
  background-color: #ef069c;
}

#b1{
  height: 400px;
  background-image: url('../public/Banner3.jpg');
  background-size: 100% 100%;
  background-color: black;
}

.service{
  font-size: 1.9rem;
  font-weight: 800;
}

.service-content{
  font-size: 1.2rem;
}

.bg-c1{
  background-color: #ef069c;
}

.ftext{
  height: 6vh;
  font-size: 1.2rem;
}
